*{
	box-sizing: border-box;
	margin: 0;
	padding:0;
}

body{
	font-family: 'Roboto' ,sans-serif;
	line-height: 1.4;
	overflow-x: hidden;
}

a{
	text-decoration: none;
}

.btn{
	display: inline-block;
	color: white;
	background: #00A0B6;
	padding: 0.5rem 2rem;
	border:none;
	border-radius: 5px;	
}

.btn:hover{	
	background: #00A0B6;
}

.btn-dark{
	background: #333;
	color: white;
}

.py-1{padding: 1.5rem 0;}
.py-2{padding: 2rem 0;}
.py-3{padding: 3rem 0;}

.p-1{padding: 1.5rem ;}
.p-2{padding: 2rem ;}
.p-3{padding: 3rem ;}


.text-center{
	text-align: center;
}
.text-primary{

	color: #00A0B6;
}

.text-white{
	color: white;
}

.text-black{
	color: #333;
}

.container{
	max-width: 1100px;
	margin: auto;
	padding: 0 2rem;
	overflow: hidden;
}
.bg-light{
	background: #f4f4f4;
	color: #333;
}
.bg-dark{
	background: #333;
	color: #fff;
}


/*NAVBAR START*/
#navbar{
	display: flex;
	background: #333;
	color: white;
	position: sticky;
	top: 0;
	justify-content: space-between;
	z-index: 1;
	padding: 1rem;
}

#navbar h1 a{
	text-decoration: none;
	color: #fff;
}

#navbar ul{
	display: flex;
	align-items: center;
	list-style: none;
}

#navbar ul li a{
	color: white;
	padding: 0.75rem;
	margin: 0 0.25rem;
}

#navbar ul li a:hover{
	background: #0099cb;
	border-radius: 5px;
}

/*Navbar end */

#about{
	padding:1rem;
	display: flex;
	flex-direction: row;

}

#about div{
	flex: 1;
}

#about .about-img{
	background: url('./pp.jpg') no-repeat
	center center/cover;
	max-width: 650px;
	margin-right: 1rem;
}

#about .about-content p{
}


/*FEATURES*/

#what{
	padding:1rem;
}

#what .items{
	display: flex;
	flex-direction: row;
	padding: 1rem;
}

#what .items .item{
	flex: 1;
	text-align: center;
	padding: 1rem;
}


#what .items .item i{
	padding: 1rem;
	
}

#main-footer{
	background: #0f0f0f;
	color: white;
	text-align: center;
}
